[submodule "libraries/lithium"]
	path = libraries/lithium
	url = https://github.com/UnionOfRAD/lithium.git
[submodule "libraries/_source/Imagine"]
	path = libraries/_source/Imagine
	url = https://github.com/avalanche123/Imagine.git
[submodule "libraries/li3_access"]
	path = libraries/li3_access
	url = https://github.com/tmaiaroto/li3_access.git
[submodule "libraries/li3_filesystem"]
	path = libraries/li3_filesystem
	url = https://github.com/hans-d/li3_filesystem.git
[submodule "libraries/li3_partials"]
	path = libraries/li3_partials
	url = https://github.com/dmondark/li3_partials.git
[submodule "libraries/ruckusing-migrations"]
	path = libraries/ruckusing-migrations
	url = https://github.com/ruckus/ruckusing-migrations.git
[submodule "libraries/li3_unit"]
	path = libraries/li3_unit
	url = https://github.com/blainesch/li3_unit.git
[submodule "libraries/tcpdf"]
	path = libraries/tcpdf
	url = https://github.com/tcpdf-clone/tcpdf.git
[submodule "libraries/li3_pdf"]
	path = libraries/li3_pdf
	url = https://github.com/Fabricatorz/li3_pdf.git
