[submodule "libraries/lithium"]
	path = libraries/lithium
	url = git://github.com/UnionOfRAD/lithium.git
[submodule "libraries/_source/Imagine"]
	path = libraries/_source/Imagine
	url = git://github.com/avalanche123/Imagine.git
[submodule "libraries/li3_access"]
	path = libraries/li3_access
	url = https://github.com/tmaiaroto/li3_access.git
[submodule "libraries/li3_filesystem"]
	path = libraries/li3_filesystem
	url = git://github.com/hans-d/li3_filesystem.git
[submodule "libraries/li3_partials"]
	path = libraries/li3_partials
	url = git://github.com/dmondark/li3_partials.git
